/*.container{
    height: 100%;
    width: 40%;
    background-color: white;
    box-shadow: 2px 3px 20px 2px;
    border-radius: 5px;
    margin-top: 10%;
    background-image: url(imagenes/fondo-central.jpg);
    background-attachment: fixed;
} */

.containerv2{
    height: 100%;
    width: 80%;
    background-color: white;
    box-shadow: 2px 3px 20px 2px;
    border-radius: 5px;
    margin-top: 10%;
    background-image: url(imagenes/fondo-central.jpg);
    background-attachment: fixed;
    margin: 0 auto;
}

.color_fondo{
    background-image: url(imagenes/difu-blanco.png);
    background-attachment: fixed;
}

.clase1{
	color:red;
}
/*.login_centro{
    padding-top: 35%;
    padding-bottom: 5%; 
    background-image: url(imagenes/fondo-central.jpg);
} */

.cuadro_central{
	height: 500px;
	width: 100%;
	background-color: black;
}

.titulo{
    margin-bottom: 5%;
    text-align: center;
}

    
.blq-cntr{
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
    padding: 0% 5% 2% 5%;
    min-width: 400px;
    margin-bottom: 5%;
}

.blq-cntr-titulo{
    width: 100%;
    height: 70px;
    font-size: 18px;
    padding-top: 5%;
    text-align: center;
}

.recursosElec{
    float: right;
}

/*Login Cabezera y Pie*/

.cabecera{
    height: 150px;
    background-color: black;
    padding-left: 0px;
    color:white;
}

.label-usuario{
    width: 37%;
    float: left;
    min-width: 60px;
    margin-top: 2%;
}

.imagen{
    height: 150px;
    padding-right: 70px;
    padding-left: 0px;
}


.espacio{
    height: 3%;
    width: 100%;
}

.cabec{
    height: 5%;
    width: 100%;
}

.titulo-login{
    margin: 0 auto;
    text-align: center;
    font-family: 'ABeeZee';
}

.texto_footer{
    float: left;
    margin-left: 5px;
}

/* label al lado del label con el usuario */
.label-usuario-1{
    padding: 4%;
    min-width: 100px;
    float: left;
}

.form-control-pers{
    position: relative;
    z-index: 2;
    border-radius: 5px 5px 5px 5px;
    width: 80%;
    height: 30px;
    margin-bottom: 0;
    color: black;
}

.input-group-addon-pers{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#btn-cerrarSesion{
    float: right;
}


.tablaUsuario{
    border-style: solid;
    border-color: aliceblue;
    padding: 1%;
}

#tablaTable{
    border-style: groove;
    border-color: lightgoldenrodyellow;
}


.cuerpoModal{
    padding: 10px;
    overflow: hidden;
}

#divBtnReservar{
    padding: 0%;
}

#btnReservar{
    float: right;
}

.tabla_reservas{
    background-color: antiquewhite;
    width: 50%;
    margin-left: 25%;
    padding: 0% 5% 2% 5%;
    min-width: 400px;
    margin-bottom: 5%;
}

/*multimedia*/

.resol_imagenes{
    height: 200px;
    width: 250px;
    border-radius: 5px 5px 5px 5px;
}

.img_left_login{
    height: 80%;
    width: 80%;
}

.img_left_centro_recursos{
    height: 20%;
    width: 20%;
    float: left;
}

.img_redes_sociales{
    height: 35px;
    width: 35px;
    float: right;
    margin: 3% 1% 2% 1%;
}

.img_redes_socialesv2{
    height: 4%;
    width: 4%;
    float: right;
    margin: 5px;
}